<template>
  <div>
    <div id="fps">0</div>
    <canvas></canvas>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
// import { BasicScene } from "@/BabylonExamples/BasicScene";
// import { FirstPersonController } from "@/BabylonExamples/FirstPersonController";
import createScene from "@/BabylonExamples/fps.js";
// console.log("🚀 ~ file: BabylonComponent.vue ~ line 10 ~ BasicScene", BasicScene)
// import {BasicScene} from "@/BabylonExamples/BasicScene.ts";
export default defineComponent({
  name: "BabylonExamples",
  mounted() {
    const canvas = document.querySelector("canvas")!;
    // new BasicScene(canvas);
    createScene(canvas);
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
canvas {
  width: 100%;
  height: 99vh;
}
#fps {
  position: absolute;
  background-color: black;
  border: 2px solid red;
  text-align: center;
  font-size: 16px;
  color: white;
  top: 15px;
  right: 10px;
  width: 60px;
  height: 20px;
}
</style>
